.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 600px;
  height: 110px;
  padding-top: 1%;
}

@media screen and (min-width: 1272px) {
  .logo {
    width: 800px;
    height: 145px;
  }
}

@media screen and (max-width: 647px) {
  .logo {
    width: 400px;
    height: 75px;
  }
}

@media screen and (max-width: 430px) {
  .logo {
    width: 320px;
    height: 60px;
  }
}
