.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-title {
  font-size: xxx-large;
  color: white;
  margin: 0;
  align-self: flex-end;
}

.logo {
  width: 100px;
  height: 100px;
}
