.movie-details-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 2%;
}

.movie-details {
    display: flex;
    flex-direction: row;
    padding-bottom: 5%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.single-view-title {
    font-size: 30px;
}

.movie-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 3%;
}

.movie-info p, h2 {
  margin: 1%;
}

.single-view-overview {
    font-size: 18px;
}

.single-view-poster {
    width: 25%;
    height: 95%;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

h3 {
    font-size: 20px;
    margin: 4% 0 0 0;
}

.back-button-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.back-button {
    font-size: 24px;
}

@media screen and (max-width: 1400px) {
  .movie-details-container {
    width: 100%;
    margin-left: 0;
    margin-top: 2%;
    font-size: 2vw;
  }

  .movie-details-container h2 {
    font-size: 3.5vw;
  }

  h3 {
    font-size: 3.5vw;
    margin: 2% 0 0 0;
  }

  .single-view-overview {
      font-size: 2vw;
  }
}

@media screen and (max-width: 959px) {
  .back-button {
    font-size: 3.5vw
  }
}
