.movie-view {
    display: flex;
    flex-direction: row;
    margin: 3%;
}


.movie-details-container {
    display: flex;
    flex-direction: column;
    margin: 3%;
}

.movie-details {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
}

.single-view-title {
    font-size: 24px;
}
.movie-info {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    width: 40%;
}

.single-view-overview {
    font-size: 18px;
}
/* .movie-trailer {
    flex-grow: 2;
    border: 10px solid red;
}  */




.single-view-poster {
    width: 40%;
    height: 95%;
}

h3 {
    font-size: 20px;
}

